
/* ------------------------------------------------------------------
   Template Default Button, Input Styles - Value Change with Your's Need
 -------------------------------------------------------------------- */
.btnd {
    line-height: 1;
    display: inline-block;
    transition: all .3s ease-in-out;
    text-transform: capitalize;    
    position: relative;
    z-index: 1;
}

.theme-btn {
    color: $white;
    @extend .btnd;    
    padding: 10px 40px;
    font-size: 15px;
    font-weight: 500;
    background-color: $primary;
    border: 1px solid $primary;
    transition: all .3s ease-in-out;
    border-radius: 30px;

    @media (max-width: 580px) {
        padding: 16px 35px;
        font-size: 14px;
    }

    @media (max-width: 480px) {
        padding: 15px 30px;
    }

    i {
        margin-left: 15px;
        font-size: 16px;
    }


    &.bg-color {
        background-color: $secondary;
        border-color: $secondary;      
        box-shadow: inherit;
        text-align: center;
        color: #fff;

        &:hover {
            color: $primary;
            background-color: $white;
            border: 1px solid $white;
        }
    }

    &:hover {
        background-color: $secondary;
        border: 1px solid $secondary;
        box-shadow: inherit;
        color: $white;
    }

}

