header {
    .header-top {
        position: relative;
        padding:0px;
        background-color: #fff;
    }

    .header-left { 
    
        .navbar{ 
            ul{
                li{
                    padding: 9px;
                }
                .dropdwon{
                    position: relative;
                    .dropdwon-manu{
                        z-index: 10;
                        display: none;
                        position: absolute;
                        background-color: $card;
                        padding: 10px;
                        ul li a{
                                color: $white;
                        }
                    }
                    &:hover .dropdwon-manu{
                        display: block;
                    }
                }
            }
            
        }
    }

    .wpml-button-wrapper {
        .select-language {
            form {
                border: 0px;

                select {
                    background-color: transparent;
                    border: 0px;
                }
            }
        }
    }

    .header-middle { 

        .logo { 
            margin-bottom: 15px;

            a { 
            
            }
        }
    }

    .header-right { 

        .header-cta-btn { 
    
            .theme-btn { 
    
            }
        }
    
        .top-right-menu { 
    
        }
        .button{
            @include button;
            padding: 10px 20px;
            transition: all 0.6s ease-in-out;
            &:hover{
                @include hover-1;
                color: $white;
            }
        }
    }

    .search-box-wrapper {
        max-width: 137px;
        overflow: hidden;
        position: relative;
        border-radius: 30px;
        border: 1px solid $primary;
        box-sizing: border-box;
    
        form { 
            position: relative;
            
            input { 
                height: 38px;
                width: 100%;
                padding: 0px 10px;
                font-size: 14px;
                font-weight: 400;
                color: $primary;

                &::placeholder {
                    color: rgba($primary, 0.4);
                }
            }
    
            button { 
                background: transparent;
                position: absolute;
                right: 20px;
                color: #0c0c0c;
                border: 0px;
                top: 0;
                line-height: 38px;
                font-size: 14px;
                transition: all .4s ease-in-out;
                font-weight: 500;
            }
        }
    }

}
.navmanus{
    position: absolute;
    top: 50%;
    right: 2%;
}


////// Responsive header 
@media (max-width:1230px){
    .header-left{
        display: none !important;
    }
    .search-box-wrapper{
        display: none !important;
    }
    .navmanu{
        display: block !important;
    }
}
@media (max-width:960px){
    .none{
        display: none !important;
    }
    .navmanus{
        display: block !important;
    }
    .card-weper .dog-card .dog-helth-card .bg-dog .content-card .head-card h4, .card-weper .dog-card .dog-helth-card .bg-dog .content-card .head-card .h4 {
        padding-left: 20px !important;
        font-size: 20px !important;
    }
    .nav-manu-weperr{
        display: block !important;
    }
}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 30;
    top: 0;
    right: 0;
    background-color:$white;
    overflow-x: hidden;
    transition: 0.5s;
    .overlay-content {
        position: relative;
        top: 5%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
      }
      a {
        font-size: 20px;
        color: $gray !important;
      }
      .closebtn {
        position: absolute;
        top: 15px;
        right: 25px;
        font-size: 40px;
      }
      .navbar{ 
          text-align: right;
        ul{
            li{
                padding: 10px;
            }
            .dropdwon{
                position: relative;
                .dropdwon-manu{
                    z-index: 10;
                    display: none;
                    position: absolute;
                    background-color: $card;
                    padding: 10px;
                    ul li a{
                         color: $white!important;
                    }
                }
                &:hover .dropdwon-manu{
                    display: block;
                }
            }
        }
        
    }
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  